/* --------------------------------------------------
     버튼 - Round
-------------------------------------------------- */
.btn_round {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 6.25rem;
    border: 0.063rem solid var(--clr-primary);
    color: var(--clr-white) !important;
    background-color: var(--clr-primary);
    min-width: 5.75rem; /* 92px */
    transition: all 0.3s;
    white-space: nowrap;
}
.btn_round:hover {
    box-shadow: var(--clr-shadow) !important;
}
.btn_round:active {
    box-shadow: none !important;
}
.btn_round.disabled {
    box-shadow: none !important;
    opacity: 0.5;
    pointer-events: none;
}

/* ------ Extra Small Size ( 전체 삭제 버튼 ) ------- */
.btn_round.btn_xs {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    padding: 0 1.25rem; /* 20px */
    height: 2.188rem; /* 35px */
}

/* ------ Small Size (헤더: 로그인하기) ------- */
.btn_round.btn_sm {
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    padding: 0 1.25rem; /* 20px */
    height: 2.5rem; /* 40px */
}
/* -------- Medium Size (팝업창 버튼) ------- */
.btn_round.btn_md {
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    padding: 0 1.25rem; /* 20px */
    height: 2.813rem; /* 45px */
    min-width: 8.75rem; /* 140px */
}
/* ---- Medium Large Size (인증코드 발송 버튼) --- */
.btn_round.btn_ml {
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    padding: 0 1.25rem; /* 20px */
    height: 2.813rem; /* 45px */
    min-width: 8.75rem; /* 140px */
}
/* ------ Large Size (미리보기 정보 패널) ------ */
.btn_round.btn_lg {
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    padding: 0 2.625rem; /* 42px */
    height: 3.313rem; /* 53px */
}
/* ------ X Large Size (영상/사진 올리기) ------ */
.btn_round.btn_xl {
    font-size: var(--fs-23);
    font-weight: var(--fw-500);
    padding: 0 2.625rem; /* 42px */
    height: 3.75rem; /* 60px */
}
/* ------------- Black Color ------------- */
.btn_round.btn_black {
    border-color: var(--foreground) !important;
    background-color: var(--foreground) !important;
}
/* ------------- Dark Blue Color ------------- */
.btn_round.btn_darkblue {
    border-color: var(--clr-dark-blue) !important;
    background-color: var(--clr-dark-blue) !important;
}
/* ------------- Sky Blue Color ------------- */
.btn_round.btn_skyblue {
    border-color: var(--clr-sky-blue);
    background-color: var(--clr-sky-blue);
}
/* ------------- Outline Style ------------- */
.btn_round.btn_outline {
    border-color: var(--clr-primary);
    color: var(--clr-primary) !important;
    background-color: var(--clr-white) !important;
}
/* ------------- Outline Style - black border ------------- */
.btn_round.btn_outline.btn_black {
    color: var(--clr-foreground) !important;
}

/* 버튼 xs 29 - 마스카 완료 ?? */

/* --------------------------------------------------
    플로팅 버튼 - Cantact Btn (문의하기)
-------------------------------------------------- */
/* ------- 홈 페이지용 플로팅 버튼 ------- */
.btn_contact {
    display: inline-block;
    position: fixed;
    bottom: 1.875rem; /* 30px */
    right: 1.875rem; /* 30px */
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    box-shadow: var(--clr-shadow);
    background-color: transparent;
    border-radius: 50%;
    z-index: 800;
}
/* 회원 전용 페이지용 - 푸터가 중앙에 있을 경우 */
.btn_contact_bottom {
    display: inline-block;
    position: fixed;
    bottom: 1.875rem; /* 30px */
    right: 1.875rem; /* 30px */
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
    box-shadow: var(--clr-shadow);
    background-color: transparent;
    border-radius: 50%;
    z-index: 800;
}
/* 로그인/문의하기/회원가입/임시비번발급/회원정보/탈퇴하기 - 푸터 위에 배치 */
.btn_contact_bottom.up {
    bottom: calc(var(--h-footer-simple) + 1.875rem); /* 푸터높이 + 30px */
}
.btn_contact img,
.btn_contact_bottom img {
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
}
/* 툴팁 레이블 스타일 */
.tooltip-label {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    /* border-radius: 0.25rem; */
}

/* --------------------------------------------------
    뱃지 태그 - 미리보기, 편집 페이지용
-------------------------------------------------- */
.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.875rem; /* 30px */
    gap: 1.25rem; /* 20px */
}
.tags span {
    display: inline_block;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    border-radius: 1.25rem; /* 20px */
    color: var(--clr-primary) !important;
    background-color: var(--clr-label-blue);
    padding: 0.25rem 0.875rem; /* 4px 14px */
}

/* --------------------------------------------------
    패널 닫기 X 버튼 - 미리보기 우측 패널 상단
-------------------------------------------------- */
.btn_close_panel {
    display: inline-block;
    position: absolute;
    top: 1.25rem; /*  20px */
    right: 1.25rem; /*  20px */
}
/* --------------------------------------------------
    구글계정으로 로그인 버튼의 구글 아이콘 이미지
-------------------------------------------------- */
.icon_google {
    display: inline-block;
    margin-right: 0.938rem; /* 15px; */
    width: 1.875rem;
    height: auto;
}
/* --------------------------------------------------
    로그인 및 회원가입 페이지 - LoginForm, SignUpFrom
-------------------------------------------------- */
/* 페이지 설명 */
.form_description {
    font-size: var(--fs-20);
    font-weight: var(--fw-400);
}
/* Chakra Checkbox -  아이디 기억하기 */
.chakra-checkbox__label {
    font-size: var(--fs-18) !important;
    font-weight: var(--fw-400) !important;
}
/* 비밀번호를 잊으셨나요? */
.forget_pw {
    font-size: var(--fs-18) !important;
    font-weight: var(--fw-400) !important;
}
.forget_pw:hover {
    text-decoration: underline !important;
    color: var(--clr-primary);
}
/* 마스카 계정이 없나요? */
.non_maska {
    font-size: var(--fs-18) !important;
    font-weight: var(--fw-400) !important;
    color: var(--foreground) !important;
    text-decoration: underline !important;
}
/* 필수 동의 우측 - 보기 링크 */
.show_rule,
.show_rule:link,
.show_rule:active {
    font-size: var(--fs-18);
    font-weight: var(--fw-500) !important;
    color: var(--clr-primary) !important;
    text-decoration: underline !important;
}
